.home {
  margin-top: 100px;

  &__swiper {
  }
  &-category__header {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 40px 0;
    }

    &__title {
      font-size: 1.875rem;
      line-height: 40px;
      font-weight: 700;
      letter-spacing: 1px;
      @media only screen and (max-width: $bp-medium-screen) {
        font-size: 1.25rem;
      }
      border-bottom: 3px solid #b63327;
      text-align: center;
    }
    &__description {
      color: #b63327;
      margin-top: 10px;
      text-align: center;

      @media only screen and (max-width: $bp-medium-screen) {
        font-size: 1rem;
      }
    }
  }
  &__popular-tours {
    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 40px 0;

      &__description {
        font-size: 1.75rem;
        font-weight: 700;
        color: #b63327;
      }
    }
    &__list {
    }
  }

  &__rent-car {
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1.25rem;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
