.nav-bar {
  display: flex;
  align-items: center;
  height: 70px;

  .mobile-navigation {
    display: none;
  }

  @media (max-width: 990px) {
    flex-direction: column;

    width: 100%;
    .navigation {
      display: none;
    }

    .mobile-navigation {
      transition: all 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;
      &--open {
        background: #ef6c00;
        padding-left: 82px;
        height: 430px;
        padding-bottom: 10px;
      }

      &__hamburger {
        margin-top: 20px;
        position: absolute;
        cursor: pointer;
        left: 20px;
      }

      &__close {
        margin-top: 20px;
        position: absolute;
        cursor: pointer;
        left: 20px;
      }

      .nav-links {
        flex-direction: column;
        height: 100%;
        margin-top: 20px;

        &__item:hover {
          border-color: transparent;
        }
      }

      .languages {
        margin: 15px;
      }
    }
  }
  .languages {
    margin-left: 20px;
  }
}
