.nav-links {
  display: flex;

  &__item {
    text-decoration: none;
    padding: 5px 15px;
    color: #ffffff;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    font-weight: 700;

    &:hover {
      border-bottom: 2px solid #ffffff;
      color: #ffffff;
    }
  }
}
